html {
   font-family: "Open Sans Regular";
}


#title {
  padding: 50px 50px 50px 50px;
  text-emphasis: italic;
  text-transform: uppercase;
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 100px;
  text-shadow: .05em .05em orange;
  mix-blend-mode: difference;
}

#header-img {
  margin: -30px -30px -30px -30px;
  filter: blur(6px);
}

.well {
  padding: 50px 50px 50px 50px;
    box-shadow: inset 0 0 30px #000000;
}

.display-table {
  width: 200px;
    filter: drop-shadow(0 0 10px #333);
}

h3 {
    text-align: left;
}